html, body {
    height: 100%;
    margin: 0;
}

.milieu_de_page {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;           
    text-align: center;     
    font-size: 100px;
}


.navbar {
  display: flex;
  gap: 2rem;
  padding: 12px 32px;
  position: sticky; top: 12px;
  background-color: #eb8108;
  border-radius: 100px;
  width: fit-content;
  margin: 20px auto;
}


.navbar a {
  color: white;
  text-decoration: none;
  font-size : 24px;
}

body {
  background-color: #FAF6F0;
}

.rectangles {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 100px 0;
}

.rectangle {
  border-radius: 16px;
  background-color: #eb8108;
}

.rectangle_haut{
  width: 300px;
  height: 600px;
}

.rectangle_bas{
  width: 500px;
  height: 200px;
}